.nameTitle{font-family:Book Antiqua;font-variant:small-caps;font-size:7pt;font-weight:bold;color:#000080}
.nameSubTitle{font-family:Book Antiqua;font-variant:small-caps;font-size:6pt}
.reportTitle{font-family:Book Antiqua;font-size:6pt;font-weight:bold}
.reportSubTitle{font-family:Book Antiqua;font-size:5.5pt}
.subReportTitle{font-family:Book Antiqua;font-variant:small-caps;font-size:5.5pt;text-decoration:underline;font-weight:bold;color:#000080}
.subReportHeader{font-family:Book Antiqua;font-variant:small-caps;font-size:5pt;font-weight:bold}
.subReportHeader4{font-family:Book Antiqua;font-variant:small-caps;font-size:5pt;font-weight:bold;color:#000080}
.subReportHeader2{font-family:Book Antiqua;font-variant:small-caps;font-size:4.5pt;font-weight:bold;text-decoration:underline}
.subReportHeader3{font-family:Book Antiqua;font-variant:small-caps;font-size:4.5pt;font-weight:bold;text-decoration:underline;color:#000080}
.subReportSmallHeader{font-family:Book Antiqua;font-size:4.5pt;font-weight:bold}
.subReportSmallHeader2{font-family:Book Antiqua;font-size:4.5pt;font-weight:bold;color:#000080}
.subReportDetail{font-family:Book Antiqua;font-size:4pt}
.link{color:blue;text-decoration:underline}
